<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
  </head>  
  <body>
    <div id="uid" style="display: none"></div>
    <div id="location" hx-post="/gps" hx-trigger="sendGPS" hx-vals='{"location": ""}' style="display: none"></div>
    <button onclick="startGPS()" type="button" id="startButton" hx-get="/start" hx-trigger="click" hx-target="#uid" hx-vals='{"rotation": ""}'>Start</button> 

    <script>
      document.getElementById("uid")
      var userId
      document.body.addEventListener('htmx:afterSwap', function(evt) {
          userId = evt.detail.target.innerHTML;
          removeEventListener('htmx:afterSwap', this);
      });

      function check(pos) {
          if (userId != null) {
            document.getElementById("uid").setAttribute("hx-vals", JSON.parse('{location:'+ pos.coords +' }'));
            htmx.trigger("#location", "sendGPS", {});
            const crd = pos.coords;
            console.log(crd)

            if (target.latitude === crd.latitude && target.longitude === crd.longitude) {
                console.log("Congratulations, you reached the target");
                navigator.geolocation.clearWatch(id);
            }
          }
      }

      function error(err) {
          console.error(`ERROR(${err.code}): ${err.message}`);
      }

      target = {
        latitude: 0,
        longitude: 0,
      };

      options = {
          enableHighAccuracy: false,
          timeout: 10000,
          maximumAge: 0,
      };
      function startGPS() {
        id = navigator.geolocation.watchPosition(check, error, options);
      }
    </script>
  </body>
</html>