<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
  </head>  
  <body>
    <div id="uid" style="display: none"></div>
    <div id="location" hx-post="/gps" hx-trigger="sendGPS" hx-vals='{"clientId": "", "location": "", "rotation": ""}' style="display: none"></div>
    <button onclick="startGPS()" type="button" id="startButton" hx-get="/start" hx-trigger="click" hx-target="#uid" hx-vals='{"rotation": ""}'>Start</button> 
    <div class="p-3 mb-2 bg-secondary" id="demo-div">
      <h4 style="margin-top:0.75rem;">Orientations</h4>
      <ul>
        <li>X-axis (&beta;): <span id="Orientation_b">0</span><span>&deg;</span></li>
        <li>Y-axis (&gamma;): <span id="Orientation_g">0</span><span>&deg;</span></li>
        <li>Z-axis (&alpha;): <span id="Orientation_a">0</span><span>&deg;</span></li>
      </ul>

    <script>
      document.getElementById("uid")
      var button = document.getElementById('startButton');
      var userId
      window.addEventListener("deviceorientation", handleOrientation); 

      document.body.addEventListener('htmx:afterSwap', function(evt) {
          userId = evt.detail.target.innerHTML;
          removeEventListener('htmx:afterSwap', this);
      });

      function handleOrientation(event) {
        console.log(event)
        const orientationData = {
          alpha: event.alpha,
          beta: event.beta,
          gamma: event.gamma
        };
        
        // Get the current hx-vals attribute value
        let hxVals = button.getAttribute('hx-vals');
        // Parse the hx-vals JSON string to a JavaScript object
        let hxValsObject = JSON.parse(hxVals);

        // Update the rotation value
        hxValsObject.rotation = orientationData;
  
        // Convert the JavaScript object back to a JSON string
        const updatedHxVals = JSON.stringify(hxValsObject);
  
        // Set the updated hx-vals attribute back to the button
        button.setAttribute('hx-vals', updatedHxVals);

        updateFieldIfNotNull('Orientation_a', event.alpha);
        updateFieldIfNotNull('Orientation_b', event.beta);
        updateFieldIfNotNull('Orientation_g', event.gamma);
      }

      function updateFieldIfNotNull(fieldName, value, precision=1) {
        if (value != null)
          document.getElementById(fieldName).innerHTML = value.toFixed(precision);
        if (fieldName == 'typee'){
          if (value != null)
          document.getElementById(fieldName).innerHTML = 20;
          else
          document.getElementById(fieldName).innerHTML = 19;
        }
      }     

      function check(pos) {

        if (userId != null) {
          locationData = JSON.parse(document.getElementById("startButton").getAttribute("hx-vals"))
          var estructura = {
            location_latitude: pos.coords.latitude,
            location_longitude: pos.coords.longitude
          }
          locationData.location = estructura

          document.getElementById("uid").setAttribute("hx-vals", JSON.stringify(locationData))

          htmx.trigger("#location", "sendGPS", {});

          if (false) {
              console.log("Congratulations, you reached the target");
              navigator.geolocation.clearWatch(id);
          }
        }
      }

      function error(err) {
          console.error(`ERROR(${err.code}): ${err.message}`);
      }

      var options = {
          enableHighAccuracy: false,
          timeout: 10000,
          maximumAge: 0,
      };

      function startGPS() {
        id = navigator.geolocation.watchPosition(check, error, options);
      }
    </script>
  </body>
</html>